<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site em Construcao</title>



 <link rel="stylesheet" href="css/style.css"/>


</head>
<body>

<div class="interface">

<div class="titulo">
<div class="titulo1">
<span>site</span>
</div>{{--Titulo1--}}


<div class="titulo2">
<span>em</span>
</div>{{--Titulo2--}}


<div class="titulo3">
<span>construcão</span>
</div>{{--Titulo3--}}

</div>{{--titulo--}}






<div class="progresso">
<div class="title-progress">
<span>o site esta quase pronto</span>
</div>{{--title-progress--}}


<div class="bar-progress">
<div class="the-progress">

</div>{{--the-progress--}}
</div>{{--bar-progress--}}



<div class="left-count">
<span>0%</span>
</div>{{--left-count--}}


<div class="right-count">
<span>100%</span>
</div>{{--right-count--}}










<a href="#" class="button">assine!</a>{{--button--}}


</div>{{--progresso--}}




<div class="icons">
<div class="fb">

</div>{{--fb--}}

<div class="tw">

</div>{{--tw--}}

<div class="inst">

</div>{{--inst--}}


</div>{{--icons--}}





<footer>
<span>&copy; 2022 site em construcão. Desenvolvido em<a class="nome">laravel</a></span>
</footer>


</div>{{--interface--}}

    



</body>
</html>

